<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetGems Ticker</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href="public/stylesheets/ticker.css" rel="stylesheet" type="text/css">
</head>
<body>
<div dir="ltr">
<a href="http://getgems.org" target="_blank">
    <div class="container">
        <div class="image-container">
            <div class="image">

        </div>
        </div>
        <div class="data-container">
    <h2>GEM Exchange Rate Ticker</h2>
    <div class="rate">
        100 GEMS = <span class="dollars">$$$</span> <!--(+15%) -->
        </div>
            <div class="update-time"><span>Update Time:</span> <span class="time">00:00</span><div>
            </div>

        </div>

        </div>
        </div>

        <div class="sublime-message">
            Chat and send GEMS easily with GetGems
            <span class="apple"></span>
            <span class="play"></span>
        </div>
</a>
</body>
</html>